/* DONT DELETE THIS */
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
/* WRITE YOUR CODE BELOW */

.music-player {
  margin: 10px;
  border: 5px solid #00c6ad;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.music-player__head {
  width: 100%;
  margin: 20px 0px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bolder;
  position: relative;
}

.music-player__head div {
  margin: 0 auto;
}

.music-player__head i {
  position: absolute;
  left: 0;
}

.music-player__now {
  width: 100%;
  margin: 20px 0px;
  display: flex;
  align-items: center;
}

.music-player__now i {
  background-color: #ffbd11;
  border: 2px solid black;
  border-radius: 15%;
  color: white;
  font-size: 50px;
  padding: 60px 40px;
  margin-right: 20px;
}

.music-player__now-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.music-player__now-info span:first-child {
  margin-bottom: 20px;
  font-size: 40px;
}

.music-player__now-info span {
  font-weight: bold;
}

.music-player__btn {
  width: 100%;
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.music-player__btn-play {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  width: 170px;
  box-shadow: 0 3px;
}

.music-player__btn-play i {
  margin-right: 10px;
}

.music-player__btn-like,
.music-player__btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 3px;
}

.playlist {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.playlist__list {
  margin: 25px 0px;
  display: flex;
  align-items: center;
}

.playlist__list-photo {
  border: 2px solid black;
  border-radius: 20%;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.photo-1 {
  background-color: #f85a2a;
}

.photo-2 {
  background-color: #ff89bb;
}

.photo-3 {
  background-color: #1847e5;
}

.photo-4 {
  background-color: #00c6ad;
}

.playlist__list-title {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.playlist__list-singer {
  opacity: 0.6;
}
